* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #473322;
  line-height: 1.6;
}
#landing {
  background: url("../img/bg-img.jpg") no-repeat center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;
}
#landing h1 {
  font-size: 50px;
}
#landing p {
  font-size: 20px;
}
#landing .btn {
  font-size: 18px;
  text-decoration: none;
  color: #926239;
  border: #926239 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}
#landing .btn:hover {
  background: #926239;
  color: #fff;
}
#content {
  padding: 20px;
  background: #926239;
  color: #fff;
  text-align: center;
}
#desc {
  padding: 20px;
  background: #f4f4f4;
  text-align: center;
}
#boxes {
  display: flex;
}
#boxes #box-1, #boxes #box-3 {
    padding: 20px;
    background: #926239;
    color: #fff;
}
#boxes #box-2 {
    padding: 20px;

    background: #fff;
}

footer {
    padding: 10px;
    background: #473322;
    text-align: center;
    color: #fff;
}